:root {
    --cor-roxo: rgb(152, 97, 207);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-size: 16px;
    background: linear-gradient(to bottom, #121212, #1e1e1e);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 70px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color: skyblue;
    transition: color 0.3s ease;
}
ul li a:hover{
     color: #4f8d99;
}
header div span {
    padding-left: 40px;
    font-size: 25px;
    color: var(--cor-roxo)
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 70px;
}
#img img{
    width: 250px;
    border-radius: 50%;
    
}
.name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin: 0;
    color: #0aaedb;
}
#area{
    color: rebeccapurple;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
    
}
.description {
    max-width: 550px;
    text-align: justify;
    line-height: 1.5;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}
.button{
    text-align: left;
    margin-top: 20px;
}
.button a {
    display: block;
    width: 130px;
    padding: 15px;
    color: #e9eef5;
    text-align: center;
    background: linear-gradient(to right, #0aaedb, #063774);
    border-radius: 40px;
}
.button a:hover{
    background: linear-gradient(to right, #1a6b81, #072e5e);
}
aside{
    color: white;
    position: absolute;
    left: 0;
    background-color: rgb(77, 75, 75, 0.6);
    width: 40px;
    border-radius: 2px;
}
aside div a img {
    width: 20px;
    padding-top: 5px;
}
#sobreMim{
    display: flex;
    justify-content: center;
    gap: 90px;

}
#imageSectionSobreMim img {
    width: 300px;
    margin-top: 30px;
    border-radius: 2px;
}
#nameSection {
    font-size: 30px;
    color: var(--cor-roxo);
    margin: 0;
}
#location {
    max-width: 550px;
    border: #0f71e9 solid 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.label{
    color: rgb(45, 175, 175);
    font-size: 15px;
}
.value{
    color: white;
    font-size: 13px;
}
#linkCurriculum{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
#linkCurriculum a {
    background: linear-gradient(to right, #79dcf0, #040d5e);
    display: block;
    width: 130px;
    padding: 13px;
    color: #e9eef5;
    border-radius: 3px;
    text-align: center;
}
#linkCurriculum a:hover{
    background: linear-gradient(to right, #266dd6, #777676);
    color: white;
}
#projetos{
    margin-top: 100px;
}
.projeto-contanier {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
h2{
    font-size: 30px;
    color: var(--cor-roxo);
    text-align: center;
    padding-bottom: 30px;
}
.projeto{
    background-color: #202020;
    width: 310px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 1px #0f71e9 ;
    padding-bottom: 10px;
}
.imageProjeto img{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    margin-top: 10px;
}
#tecnologias span img {
    width: 30px;
}

strong{
    color: slateblue;
}
h3 a{
    color: #848cda;
}
h3 a:hover{
    color: #0f71e9;
}
.projeto-contanier h3{
    padding-top: 15px;
    padding-bottom: 20px;
}
#tecnologias h2{
    margin-top: 90px;
}
#technologiesUsed-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.technologiesUsed{
    background-color: #2c2c2c;
    width: 200px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #99b7db;
    height: 210px;
}
.imageTechnologiesUsed{
    text-align: center;
    padding-top: 10px;
}
.imageTechnologiesUsed img{
    width: 50px;
}
.technologiesUsed h3{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.technologiesUsed p {
    text-align: center;
    color: #28a4bd;
    font-size: 15px;
    padding-top: 13px;
}
#informationContact-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
#informationContact{
    background-color: #2b2b2c;
    width: 350px;
    color: white;
    border-radius: 10px;
}
#informationContact div span img{
    width: 25px;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}
.contact-item span{
    font-size: 17px;
}
#form label{
    color: #0aaedb;
}
#form input{
    width: 320px;
    height: 32px;
    border: none;
    outline: none;
    padding-left: 10px;
}
#form ::placeholder{
    font-size: 14px;
}
textarea{
    width: 325px;
    height: 110px;
    border: none;
    outline: none;
}
#contato{
    margin-top: 70px;
}
#form button{
    width: 330px;
    height: 40px;
    font-size: 18px;
    background-color: #0aaedb;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}
#form button:hover{
    background-color: #4f8d99;
    cursor: pointer;
}
footer{
    margin-top: 70px;
    background-color:#1f2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f5f9;   
}
#buttonVerMais{
    background: linear-gradient(to right, #040d5e,  #0aaedb);
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    color: #e9eef5;
}
#buttonVerMais:hover{
    cursor: pointer;
    background: linear-gradient(to right, #0e1769,  #2c97b4);
}
#button-contanier{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
@media (max-width: 600px) {
    header{
        display: none;
    }
    .menu-lateral{
        display: none;

    }
    #home{
        display: block;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        height: auto;
        padding-top: 20px;
    }
    #img img{
        width: 200px;
    }
    .name{
        text-align: center;
        font-size: 23px;
    }
    .description{
        font-size: 13px;
        margin: 10px;
    }
    #area{
        text-align: center;
    }
    .description{
        max-width: 500px;
        text-align: center;
    }
    .button, #linkCurriculum{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #sobreMim{
        display: block;
        text-align: center;
        padding-top: 60px;
    }
    #imageSectionSobreMim img{
        display: none;
    }
    #location{
        margin: 20px;
    }
    .label{
        font-size: 14px;
    }
    .value{
        font-size: 13px;
    }
    #informationContact-contanier{
        display: block;
    }
    #informationContact{
        padding: 5px;
        margin: 0 auto;
        width: 320px;
    }
    .contact-item span{
        font-size: 15px;
    }
    #form {
        text-align: center;
        margin-top: 30px;
    }
    #form input, textarea{
        width: 280px;
    }
    #form button {
        width: 285px;
    }
    footer{
        text-align: center;
        font-size: 15px;
    }
    .hidden{
        display: none;
    }
    #buttonVerMais{
        display: block;
    }
    .show-all .hidden {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    header div span{
        font-size: 20px;
        padding-left: 13px;
    }
    nav ul li a{
        font-size: 16px;

    }
     header nav ul {
        gap: 20px;
        padding-right: 30px;
    }
    .menu-lateral{
        display: none;
    }
    #home{
        height: auto;
        margin-top: 60px;
        display: block;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .name, #area, .description{
        text-align: center;
    }
    .name{
        font-size: 25px;
    }
    .button, #linkCurriculum{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #sobreMim{
        text-align: center;
        padding-top: 70px;
        gap: 0;
    }
    #imageSectionSobreMim img{
        display: none;
    }
    
}
@media (min-width: 1025px) and (max-width: 1280px) {
    
}
